= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right
      %p.input-form
        %input.chat-group-form__input.user-search{ placeholder: "メンバー名を入力してください", type: "text"}
      %ul.searchlists
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field--right
      %ul.saveLists
        %li.list=current_user.name
        %input{type: "hidden", name: "group[user_ids][]", value: "#{current_user.id}"}
        - @group.users.each do |u|
          - unless u.id == current_user.id
            %li.list{"data-id": "#{u.id}"}
              =u.name
              %a.rmBtn{href: "javascript:void(0)"}　削除
              %input{type: "hidden",name: "group[user_ids][]", value: "#{u.id}"}
  .chat-group-form__field.clearfix
    .chat-group-form__field--right
      = f.submit :name, value: "SAVE", disable_with: "Save Now ...", class: "chat-group-form__action-btn"
