= form_for @group do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "グループ名", class: "chat-group-form__label"
    .chat-group-form__field--right
      = f.text_field :name, class: "chat-group-form__input", placeholder: "グループ名を入力してください"
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
    .chat-group-form__field--right
      %p.input-form
        %input.chat-group-form__input.user-search{ placeholder: "メンバー名を入力してください", type: "text"}
      %ul.searchlists
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label :name, "チャットメンバー", class: "chat-group-form__label"
    .chat-group-form__field--right
      -if controller.action_name == "new"
        %p.chat-member= current_user.name
      -else
        %ul.saveLists
          - @group.users.each do |u|
            %li.chat-memberi{data-id: "#{u.id}"}= u.name
  .chat-group-form__field.clearfix
    .chat-group-form__field--right
      = f.submit :name, value: "SAVE", disable_with: "Save Now ...", class: "chat-group-form__action-btn"
